:root {

  /* see http://build.fhir.org/ig/FHIR/ig-guidance/colors.html */

  --ig-status-text-color: #6b6868; /* 1. IG Title and status text color */
  --navbar-bg-color: #007d79; /* 2. Header container color */
  --footer-container-bg-color: #007d79; /* 4. Footer container color */
  --stripe-bg-color: #007d79; /* 5. Header strip color */

  --btn-hover-color: #33804a;  /* 6. Menu button hover color */
  --btn-active-color: #43a862; /* 7. Menu button active color */
  --btn-text-color: #e6e6e6; /* 8. Menu button text color */
  --btn-gradient-start-color: #33aa77; /* 9. Menu item gradient start color */
  --btn-gradient-end-color: #209966; /* 10. Menu item gradient end  color */
  --btn-gradient-start-color-alpha: #ff33aa77; /* 11. Menu item gradient start color (with alpha) */
  --btn-gradient-end-color-alpha: #ff209966; /* 12. Menu item gradient end color (with alpha) */
  --link-color: #0f62fe; /* 13. Hyperlink text color */
  --link-hover-color: #0f62fe; /* 14. Hyperlink text hover color */

  --publish-box-bg-color: #feecae; /* 15. Publish box background color */
  --publish-box-border: 1px solid #007d79; /* 16.  Publish box border definition */

  --toc-box-bg-color: #feecae; /* 17.  TOC box background color */
  --toc-box-border: 1px solid #007d79; /* 18. TOC box border definition */

  --stu-note-background-color: #fff2ff; /* 19. (STU) Note box background color */
  --stu-note-border-left-color: #ff6020; /* 20. (STU) Note box border color */

  --ig-header-color: #ededed; /* 21. Header color (sides) */
  --ig-header-container-color: #ededed; /* 22. Header container color (center) */
  --footer-nav-bg-color: #f5f5f5; /* 23. Footer navigation background color*/

  --footer-bg-color: #007d79; /* 3. Footer background color*/
  --footer-text-color: #e0e0e0; /* 24. Footer highlight font color */
  --footer-hyperlink-text-color: #0f62fe; /* 25. Footer hyperlinks font color */
  --footer-highlight-text-color: #0f62fe; /* 26. Footer highlight font color */

  --breadcrumb-bg-color: #f5f5f5; /* 27. Breadcrumb font color */
  --breadcrumb-text-color: ##6b6868; /* 28. Breadcrumb font color */

  --dragon-background-color: #fffbf7; /* 29. Dragon background color */
  --dragon-text-color: #101020; /* 30. Dragon font color */

}